<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private? %></dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.count %>
  </dd>

  <dt>Following</dt>
  <dd>
    <%= @the_user.following.count %>
  </dd>
</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>

<% accepted = @the_user.sent_follow_requests.where({ :status => "accepted" }) %>
<h1>Discover (<%= accepted.count %>)</h1>
<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <tr>
    <% accepted.each do |discover| %>
      <% discover.recipient.likes.each do |detail| %>
    <td>
      <img src="<%= detail.photos.image %>">
    </td>

    <td>
      <%= detail.photo.username %>
    </td>
      <%= detail.photo.caption %>
    <td>
      
    </td>

    <td>
      <%= detail.photo.created_at %>
    </td>

    <td>
      <%= detail.photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= detail.photo.id %>">
        Show details
      </a>
    </td>
     <% end %>
      <% end %>
  </tr>
