<h1><%=@current_user.username%></h1>

 <!--private-->
<dl>
  <dt>Private</dt>
  <%if @current_user.private == true%>
  <dd>true</dd>
  <%else%>
  <dd>false</dd>
   <%end%>

    <!--follower-->
  <%followers = @current_user.received_follow_requests%>
  <dt>Followers</dt>
  <dd><%=followers.count%></dd>


  </dd>
   <!--following-->
 <%following = @current_user.sent_follow_requests%>
  <dt>Following</dt>
  <dd><%=following.count%></dd>
  
  <!--user additional links-->
<nav>
  <ul>
    <li>
      <a href="/users/<%=@current_user.username%>">Profile</a>
    </li>
    <li>
      <a href="/users/<%=@current_user.username%>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%=@current_user.username%>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%=@current_user.username%>/discover">Discover</a>
    </li>
  </ul>
</nav>



<!--feed table-->
<h2> Feed (<%= @accepted_follow_request.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <!--feed content-->
  <% @accepted_follow_request.each do |following| %>
    <% following.following_photos.each do |photo| %>
      <tr>
        <td>
        <img src="<%= photo.image %>">
        </td>

        <td>
          <%=photo.owner.username %>
        </td>

        <td>
          <%=photo.caption%>
        </td>

        <td>
          <%=time_ago_in_words(photo.created_at)%>
        </td>
        <td>
        <%=photo.likes_count%>
        </td>


        <% if @current_user != nil %>
          <td>
          <a href="photos/<%=photo.id%>"> Show details</a>
          </td>
        <% else %>
          <a href="/user_sign_in"> Show details</a>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
